google-auth==2.10.0
google-auth-oauthlib==0.4.6
googledrivedownloader==0.4
GPUtil==1.4.0
ipywidgets==8.0.6
joblib==1.1.0
json5==0.9.10
jsonschema==4.14.0
jupyterlab==3.4.5
kiwisolver==1.4.4
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
notebook==6.4.12
notebook-shim==0.1.0
numpy==1.24.0
oauthlib==3.2.0
pandas==1.5.2
Pillow==9.3.0
pytorchcv==0.0.67
PyYAML==6.0
QtPy==2.2.0
scikit-learn==1.1.2
scipy==1.9.0
seaborn==0.12.1
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.9.3
torchray==1.0.0.2
torchvision==0.13.1+cu113
tqdm==4.64.0